:root {
  --body-text-color: #{$dark};
  --body-bg-color: #{$white};

  --btn-primary-color: #{$white};
  --btn-primary-bg: #{$green};
  --btn-primary-bg-hover: #{$green-light};

  --btn-secondary-color: #{$white};
  --btn-secondary-bg: #{$dark};

  --form-color: #{$dark};
  --form-bg: #{$white};
  --form-error-color: #{$red};
  --form-error-border: #{$red};
  --form-border-focus-color: #{$green};

  --body-font-size: #{$fs-base};
  --body-font-weight: #{$fw-normal};

  --h1-font-size: #{$h-1};
  --h2-font-size: #{$h-2};
  --h3-font-size: #{$h-3};
  --h4-font-size: #{$h-4};
  --h5-font-size: #{$h-5};
  --h6-font-size: #{$h-6};

  --h1-font-weight: #{$fw-medium};
  --h2-font-weight: #{$fw-medium};
  --h3-font-weight: #{$fw-medium};
  --h4-font-weight: #{$fw-normal};
  --h5-font-weight: #{$fw-normal};
  --h6-font-weight: #{$fw-light};
}
